//img.centerImage.hidden-sm.hidden-xs(src="/images/sunset1.jpg")

.front
    h1 Backspin
        small fantasy golf

.row
    .col-sm-7
        .well
            legend How to play
            ol.instructions
                li
                    h4 Create a team - choose 4 golfers
                      small

                li
                    h4 Scoring
                    p Your team score is the sum of the scores of your golfers. Each golfer's score is calculated using the
                      a(href="http://en.wikipedia.org/wiki/Stableford#Modified_Stableford", target="_blank")  modified stableford
                      |  scoring system.

                    p Example -

                    .well
                      table.table
                        tbody
                          tr
                            td par for the hole
                            td
                            td
                            td  4
                            td
                            td
                          tr
                            td golfer's score
                            td
                            td
                            td
                            td  3
                            td
                          tr
                            td points
                            td  -3
                            td  -1
                            td  0
                            td  5
                            td 10



                li
                    h4 Create private leagues



    //.col-sm-6
        .well
            div(ng-show="!showSignup", ng-include='\'components/userSession/login\'')
    .col-sm-5
        .well
            div(ng-include='\'components/userSession/signup\'')


