div.row(data-ng-controller="editLeaguesCtrl")

    div.col-sm-4
        .well
            table.table.table-responsive()
                legend My leagues
                thead.text-muted
                    th Name
                    th Leave
                tbody
                    tr(data-ng-repeat="league in team.leagues")
                        td
                            a.h5(ng-href="league/{{league.leagueName}}")

                        td
                            button.btn.btn-danger.btn-sm.h5(data-ng-click="leaveLeague(league._id)")
                                span.glyphicon.glyphicon-new-window

    div.col-sm-4
        .well
            legend All leagues
            input.form-control(ng-model="leagueFilter", placeholder="type to search...")

            div
                table.table.table-responsive()
                    thead.text-muted
                        th Name
                        th Join
                    tbody
                        tr(data-ng-repeat="league in leagues | filter: leagueFilter | filter:{active: false} ")
                            td
                                h5 {{league.leagueName}}

                            td
                                button.btn.btn-primary.btn-sm.h5(data-ng-click="joinLeague(league._id, currentUser.teamId)")
                                    span.glyphicon.glyphicon-ok

    div.col-sm-4
        .well
            form(role='form', name='LeagueForm', data-ng-submit='createLeague(newLeague)')
                legend Create a new league
                .form-group
                    label.control-label(for='name') League Name
                    input.form-control(type='text', name='name', required, data-ng-model='newLeague.leagueName')
                .form-group
                    label.control-label(for='private') Private?
                    input.form-control(type='checkbox', name='private', required, data-ng-model='newLeague.private')
                .form-group
                    label.control-label(for='password') Password
                    input.form-control(type='text', name='password', required, data-ng-model='newLeague.password')

                button.btn.btn-success.pull-right(type='submit') Create
                .clearfix

