//
   Created by mattlovan on 8/18/14.

div(data-ng-controller="listLeaguesCtrl")

    .row
        .col-sm-12
            a.btn.btn-primary.pull-right(href="/editleague")
                span.glyphicon.glyphicon-edit
                |  Edit Leagues
        .clearfix

    div.well.league_well(ng-repeat="league in team.leagues")
        .row
            .col-sm-12
                h2 {{league.leagueName}}
                    small {{league.location}}

            .col-sm-8
                //chat

                .input-group
                    input.form-control(type="text", ng-model="chatMessage")
                    span.input-group-btn
                        button.btn.btn-success(ng-click="addChat(chatMessage, league._id, currentUser.teamId)") send

                .league_chatbox
                    p(ng-repeat="msg in league.chat | orderBy:'modified':true")
                        span.text-primary {{msg.name}}
                        span.text-muted  {{msg.modified| date:'EEE, h:m a'}} -
                        |  {{msg.message}}

            .col-sm-4
                //leaders

                .league_leaderbox

            .clearfix