//
   Created by mattlovan on 8/8/14.
div(ng-controller="LeagueCtrl")

    .row
        .col-sm-12

            //leagues
            tabset(type='pills')
                tab(ng-repeat="league in leagues | filter:{active: 'true'}" heading="{{league.leagueName}}" active="league.tabActive" disabled="tab.tabDisabled")

                button.btn.btn-success.pull-right Join League

        .col-sm-8
            h3.text-primary Chat
            div.well

        .col-sm-4

            h3.text-primary League leaderboard
            div.well
    .row
        .col-sm-12
            div(ng-include='\'components/team/displayTeam\'')