//
   Created by mattlovan on 8/8/14.
div(ng-controller="LeagueCtrl")

    .row
        .col-sm-12

            //leagues
            tabset(type='pills')



                tab(ng-repeat="league in leagues | filter:{active: 'true'}" heading="{{league.leagueName}}" active="league.tabActive" disabled="tab.tabDisabled")

                    .col-sm-8
                        h3.text-primary {{league.leagueName}}
                        div.well
                    .col-sm-4
                        h3.text-primary Leaderboard
                        div.well

                    .col-sm-12
                        div.well.teamWell(ng-include='\'components/team/displayTeam\'')

                a.btn.btn-success.pull-right(href='/joinleague') Join League

