//
   Created by mattlovan on 8/8/14.

div.row

    div(ng-controller="LeagueCtrl")
        tabset
            tab(ng-repeat="league in leagues | filter:{active: 'true'}" heading="{{league.leagueName}}" active="league.tabActive" disabled="tab.tabDisabled")

                div.leagueBox

                    .col-sm-8

                        h3 {{league.leagueName}}

                        //chat messsages
                        ul.list-unstyled.chatbox
                            li(ng-repeat='message in chat')
                                span.p.text-primary {{message.from}}:
                                span.p  {{message.content}}

                        //input
                        div.input-group
                            input.form-control(type='text')
                            span.input-group-btn
                                button.btn.btn-primary(type='button') Send


                    .col-sm-4
                        h3 Leaderboard

                        div(ng-include='\'components/league/viewLeague\'')

                    .clearfix
