table.table.table-responsive(ng-controller="ViewLeagueCtrl")

    thead.text-muted

        th Team
        th Players
        th Score

    tbody
        tr(data-ng-repeat='team in league.teams')
            td {{team.teamName}}
            //td {{team.ownerName}}
            td
                p {{team.player1}}
                p {{team.player1}}
                p {{team.player1}}
                p {{team.player1}}

            td {{team.modstable}}
