$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

$mg-white:              #D2D5D8;
$mg-mid:                #5E6266;
$mg-dark:               #3C3F42;
$mg-darkest:            #282B2E;

$brand-info:            #2B7EC0 !default;
$brand-primary:         #2B7EC0 !default;
$brand-success:         #468847 !default;
$brand-warning:         #e67e22 !default;
$brand-danger:          #B95050 !default;

// Typography
$font-family-sans-serif:  Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$body-bg:               $mg-darkest !default;
$text-color:            $mg-white !default;

// Forms
$input-bg:              $mg-darkest !default;
$input-color:           $mg-white !default;
$input-border:          $mg-mid !default;
$legend-color:          $mg-white !default;

// Panels
$panel-bg:              $mg-dark !default;

// Wells
$well-bg:               $mg-dark !default;


@import 'sass-bootstrap/lib/bootstrap';



.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
    padding-left: 15px;
    padding-right: 15px;

}

/* Make the masthead heading the same height as the navigation */
.header h1 {
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 40px;
    padding-bottom: 19px;
    font-family: Yellowtail, cursive, serif;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.front {
  margin-top: -155px;
  margin-bottom: 10px;
}

.front h1{
  font-size: 70px;
  font-family: Yellowtail, cursive, serif;
  text-shadow: 1px 1px 0 black, -2px 2px 40px $brand-primary;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
        //background-image: url('/images/sunset1.jpg');
        height: 413px;
        //background-position-y: -120px;
        padding-top: 5px;
        text-align: left;
    }

    .jumbotron > h1{
      padding-top: 280px;
    }

}

//custom additions

.centerImage{
  display: block;
  position: relative;
  left: -50px;
  border: solid #282b2e 1px;
  z-index: -1;
  border-radius: 8px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: $mg-dark;
  color: $mg-white;
}

.well{
  border-color: $mg-mid;
}

//section titles
.text-primary:hover{
  color: $brand-primary;
}
.text-success:hover{
  color: $brand-success;
}

.mg-buttongroup{
  margin-bottom: 10px;
}

.playerImage{
  margin-right: 10px;
  margin-top: 2px;
}

.allPlayerList {
  max-height: 400px;
  overflow: auto;

}

.teamTable{
  padding: 0 30px;
}

.playerList{
  margin-bottom: 3px;
}

.leagueList {
  overflow: auto;
  border: solid 1px gray;
  border-radius: 4px;
  padding: 20px 40px;
  background: $mg-dark;
}

.tableHeight{
  max-height: 300px;
}

.table{
  margin-bottom: 10px;
}
.table > thead > tr > th {
  border-bottom: 1px solid $mg-white;
}

.teamWell{
  border: solid 1px $mg-mid;
  padding: 0 20px 0 20px;
}

h3 > small,
span.h3 > small{
  margin-left: 10px;
}

.input-group-addon {
  background-color: $mg-mid;
}

.positive{
  background-color: $brand-success;
  }

.negative{
  background-color: $brand-danger;
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  text-align: center;
}