$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

$mg-white:              #D2D5D8;
$mg-mid:                #5E6266;
$mg-dark:               #3C3F42;
$mg-darkest:            #282B2E;

$brand-info:            yellowgreen !default;
$brand-primary:         #2B7EC0 !default;
$brand-success:         #468847 !default;
$brand-warning:         #e67e22 !default;
$brand-danger:          #B95050 !default;

// Typography
$font-family-sans-serif:  Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$body-bg:               transparent !default;
$text-color:            $mg-white !default;

// Forms
$input-bg:              rgba(30,32,34,.9) !default;
$input-color:           $mg-white !default;
$input-border:          $mg-mid !default;
$legend-color:          $mg-white !default;

// Panels
$panel-bg:              $mg-dark !default;

// Wells
$well-bg:               $mg-dark !default;


@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html {
  background: url(../images/dunes_copy.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

//angular-ui pointers
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


.header{
  margin-bottom: 20px;
}

.header h1 {
    margin-top: 0;
    line-height: 40px;
    font-family: Yellowtail, cursive, serif;
    text-shadow:  1px 1px 0 $mg-darkest;
}

.front h1{
  font-size: 40px;
  font-family: Yellowtail, cursive, serif;
  text-shadow: 1px 1px 0 black, -2px 2px 40px $brand-primary;
  margin-top: 0;
}

@media all and (min-width: 768px) {
  .front h1{
    font-size: 70px;
  }

  //WebKit scrollbars
  ::-webkit-scrollbar {
    width: 8px;
    background-color: $mg-dark;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 3px;
    background-color: $mg-dark;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.25);
    background-color: $mg-mid;
  }
}

.front h1 small{
  color: $mg-white;
  text-shadow:  1px 1px 0 black;
}


.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: $mg-dark;
  color: $mg-white;
}

.mg-navGroup{
  margin-right: 25px;
}

.btn.mg-navGroup > a{
  color: $mg-white;
}

.btn.mg-navButton,
.btn.mg-navButton:hover,
.btn.mg-navButton:focus {
  color: $mg-white;
}

.btn.mg-navButton.active {
  background: rgba(30, 32, 34, .35);
}

table > thead > tr > th,
table > tbody > tr > td{
  text-align: center;
}

.table{
  margin-bottom: 10px;
}
.table > thead > tr > th {
  border-bottom: 1px solid $mg-white;
}

.input-group-addon {
  background-color: $mg-mid;
}

.well{
  border-color: $mg-mid;
  border-right-color: #4c4f52;
  border-bottom-color: #4c4f52;
  background-color: rgba(40,43,46,.85);
}

//section titles
.text-primary:hover{
  color: $brand-primary;
}

.mg-buttongroup{
  margin-bottom: 10px;
}

.playerImage{
  margin-right: 10px;
  margin-top: 2px;
}

.mg_well{
  padding: 0 20px 0 20px;
}

h3{
  text-shadow: 1px 1px 1px $mg-darkest;
}

h3 > small,
span.h3 > small{
  margin-left: 10px;
}

.positive{
  background-color: $brand-success;
  }

.negative{
  background-color: $brand-danger;
}

.league_well{
  padding: 0 19px 19px 19px;
}

.league_well p{
  margin: 0 0 3px
}

.league_chatbox{
  height: 300px;
  background: rgba(30,32,34,.9);
  border-bottom: solid 1px $mg-mid;
  border-right: solid 1px $mg-mid;
  border-left: solid 1px $mg-mid;
  padding: 10px 10px 0 10px;
  overflow-y: auto;
}

.league_leaderbox{
  height: 334px;
  background-color: rgba(30,32,34,.9);
  border: solid 1px $mg-mid;
  //padding: 5px 10px 0 10px;
  overflow-y: auto;
}

.league_leaderbox_item{
  color: $mg-white;
  text-shadow: 1px 1px 1px $mg-darkest;
  border: 1px solid $mg-mid;
  padding: 10px 15px;
  margin: 2px 2px 0 2px;
  background-color: $mg-dark;
}

.league_leaderbox_item.active{
  border-color: $brand-primary;
  box-shadow: inset 0 0 5px $brand-primary;
}

.league_leaderbox > a{
  text-decoration: none;

}

.league_leaderbox_item:hover{
  background-color: $mg-mid;
  border-color: $mg-dark;
}

.admin_buttonbox{
  margin-bottom: 20px;
  border: solid 1px $mg-mid;
  padding: 0 15px 15px 15px;
}

.alert{
  margin-bottom: 0;
  margin-top: 20px;
}

.instructions{
  margin-bottom: 25px;
}


.tableOverflow{
  border: solid 1px $mg-dark;
  overflow-x: auto;
  margin-top: 45px;
  padding: 0 10px;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: $mg-darkest;
  color: $mg-mid;
}

.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-color: $mg-mid;
}


/*____Loading Spinner*/
//
//.loadingtext{
//
//  width: 400px;
//  position: absolute;
//  top: 40%;
//  margin-top: -100px;
//  left: 50%;
//  margin-left: -200px;
//  text-align: center;
//  font-family: monospace;
//  font-size: 19px;
//  padding: 10px;
//
//  background: rgba(31, 56, 63, 0.85);
//  color: #00B4CC;
//
//}

.loadingPanel{
  z-index: 1000;
  position: absolute;
  height: 90%;
  width: 90%;
}
.wrapperloading {
  position: absolute;
  height: 200px;
  width:  200px;
  top: 50%;
  margin-top: -100px;
  left: 50%;
  margin-left: -100px;

  background: transparent;
  border-radius: 0;
}
.wrapperloading .loading_up {
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 150px;

  border: 4px solid $mg-white;
  border-top-color: $mg-white;
  border-bottom-color: $mg-white;
  border-left-color: $brand-primary;
  border-right-color: $brand-primary;

  background: transparent;
  -webkit-animation: rotation 3s linear infinite;
  -moz-animation: rotation 3s linear infinite;
  -o-animation: rotation 3s linear infinite;
  animation: rotation 3s linear infinite;
}
.wrapperloading .loading_down {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 50%;
  margin-top: -50px;
  left: 50%;
  margin-left: -50px;
  border-radius: 150px;

  border: 4px solid $mg-white;
  border-right-color: $mg-white;
  border-left-color: $mg-white;
  border-top-color: $brand-primary;
  border-bottom-color: $brand-primary;

  -webkit-animation: rotation 1s linear infinite;
  -moz-animation: rotation 1s linear infinite;
  -o-animation: rotation 1s linear infinite;
  animation: rotation 1s linear infinite;
}
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*____Loading Spinner*/




