div.row.header(ng-controller='NavbarCtrl')

    button.btn.btn-sm.btn-danger.pull-right(ng-click='logout()') Logout

    h1 Ballstrikers

    ul.list-inline
        li(ng-repeat="item in menu")
            a(ng-href="{{item.link}}") {{item.title}}

