div.header(ng-controller='NavbarCtrl')

    button.btn.btn-sm.pull-right(href='', ng-click='logout()') Logout

    h1 Ballstrikers

    div
        ul.nav.nav-tabs.nav-justified
            li(ng-show='currentUser', ng-repeat='item in menu', ng-class='{active: isActive(item.link)}')
                a(ng-href='{{item.link}}') {{item.title}}


        .clearfix

