div.header(ng-controller='NavbarCtrl', ng-show="currentUser")

    div.hidden-sm.hidden-xs

        ul.list-inline.pull-right

            li.mg-navGroup(ng-repeat="item in menu")
                a.btn.mg-navButton(ng-href="{{item.link}}", ng-class="{active: isActive(item.link)}") {{item.title}}
            li.mg-navGroup
               button.btn.btn-danger(ng-click='logout()') Logout

    div.navbar.hidden-md.hidden-lg

            .navbar-inner
                .container

                    // Note: set the initial collapsed state and change it when clicking
                    a.btn.btn-navbar.mg-navButton.pull-right(ng-init="navCollapsed = true", ng-click="navCollapsed = !navCollapsed")
                        span.glyphicon.glyphicon-list
                        |  Menu
                    h1 Ballstrikers

                    .nav-collapse.collapse.navbar-responsive-collapse(collapse="navCollapsed")
                        ul.nav
                            li(ng-repeat="item in menu")
                                a.btn.mg-navButton(ng-href="{{item.link}}", ng-class="{active: isActive(item.link)}") {{item.title}}
                            li
                                .well-sm.text-center
                                    button.btn.btn-danger(ng-click='logout()') Logout

                    // /.nav-collapse
                // /.container
            // /navbar-inner
        // /navbar

    h1.hidden-sm.hidden-xs Ballstrikers