div.row.header(ng-controller='NavbarCtrl')

    button.btn.btn-sm.btn-danger.pull-right(ng-click='logout()') Logout

    h1 Ballstrikers

    ul.nav.nav-pills
        li(ng-repeat="item in menu", ng-class="{active: isActive(item.link)}")
            a(ng-href="{{item.link}}") {{item.title}}

