div(ng-controller="LeaderboardCtrl")


    div.loadingPanel(ng-if="!dataLoaded")
        .wrapperloading
            .loading_up
            .loading_down


    div.well.viewAnimate(ng-if="dataLoaded")

        h1 {{info.name}}
        div.h4 {{info.date}}

        legend {{info.name}} Leaderboard

        div.tableOverflow.leaderboard
            table.table
                thead.text-muted
                    th picture
                    th name
                    //th(ng-repeat="item in courses[0].h") {{$index + 1}}
                    th today
                    th to par
                    th points
                    th action
                tbody
                    tr(data-ng-repeat='player in players | limitTo:49')
                        td
                          span.glyphicon.glyphicon-user
                        td.text-muted
                            div
                              a(ng-href="/player/{{player.id}}") {{player.ln +', ' + player.fn}}
                        //td(ng-repeat="hole in player.h.h") {{hole.sc}}
                        td
                          div {{player.tp}}
                        td
                          div {{player.tp}}
                        td
                          div.text-backspin 20
                        td
                          button.btn.btn-primary add



