
.row
    .col-sm-8
        h3.text-primary Chat

        div.well


    .col-sm-4
        div(ng-include='\'components/leaderboard/leaderboard\'')

        div.text-center
            a.btn.btn-primary(href='#/leaderboard') See full leaderboard

.row
    .col-sm-12
        div(ng-include='\'components/team/team\'')










