
.row
    .col-sm-12

        h3.text-primary Leaderboard

        h5 {{event.name}}
            small(data-ng-repeat='course in courses')  {{course.n}}

.row
    .col-sm-12
        div(ng-include='\'components/team/team\'')
.row
    .col-sm-12
        div(ng-include='\'components/league/league2\'')










