
.row
    .col-sm-12
        div(ng-include='\'components/leaderboard/leaderboard\'')
        a.btn.btn-primary.pull-right(href="#/leaderboard") See full leaderboard >
.row
    .col-sm-12
        div(ng-include='\'components/team/team\'')
.row
    .col-sm-12
        div(ng-include='\'components/league/league2\'')










