//http://www.colourlovers.com/palette/2589351/Cabin_In_The_Woods

$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

$mg-white:              #fefff7;
$mg-tan:                #e5e8cc;
$mg-mid:                #BCAA84;
$mg-dark:               #523525;
$mg-darkest:            #39250D;


$brand-info:            yellowgreen !default;
$brand-primary:         #468847 !default;
$brand-success:         #468847 !default;
$brand-warning:         #e67e22 !default;
$brand-danger:          #A74F43 !default;

// Typography
$font-family-sans-serif:   "Lora", Helvetica, Arial, sans-serif !default;
$body-bg:               transparent !default;
$text-color:            $mg-darkest !default;
// Forms
$input-bg:              $mg-darkest !default;
$input-color:           $mg-white !default;
$input-border:          $mg-mid !default;
$legend-color:          $mg-dark !default;
// Panels
$panel-bg:              $mg-dark !default;
// Wells
$well-bg:               $mg-white !default;

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html {
  background: $mg-darkest url(../images/dark.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
}

//angular-ui pointers
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


//------------FRONT----------*

.front h1{
  font-size: 40px;
  font-family: Yellowtail, cursive, serif;
  text-shadow: 1px 1px 0 black, -2px 2px 40px $brand-primary;
  margin-top: 0;
  color: $mg-white;
}

.front h1 small{
  color: $mg-white;
  text-shadow:  1px 1px 0 black;
  margin-left: 20px;
}

.instructions{
  margin-bottom: 25px;
}

@media all and (min-width: 768px) {
  .front h1{ font-size: 70px; }

  //WebKit scrollbars
  ::-webkit-scrollbar {
    width: 8px;
    background-color: $mg-dark;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 3px;
    background-color: $mg-dark;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.25);
    background-color: $mg-mid;
  }
}

//------------FRONT----------*
//------------NAV----------*
.header{
  margin-bottom: 30px;
}

.header h1 {
  margin-top: 0;
  color: $mg-white;
  font-size: 48px;
  line-height: 40px;

  font-family: Yellowtail, cursive, serif;
  text-shadow:  1px 1px 0 $mg-darkest;
}

.header h1 small {
  margin-left: .5em;
  color: $mg-white;
}

.mg-navGroup{
  margin-left: 15px;
}

.btn.mg-navGroup > a{
  color: $mg-white;
}

.mg-menuButton{
  margin-top: 6px;
}

.btn.mg-navButton{
  color: $mg-white;
}

.btn.mg-navButton:hover,
.btn.mg-navButton:focus {
  color: $mg-white;
  background: rgba(30, 32, 34, .35);
}

.btn.mg-navButton.active {
  background: rgba(30, 32, 34, .35);
}

//small screen link styling
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: $mg-dark;
  color: $mg-white;
}

//------------NAV----------*

//------------TABLE--------
table > thead > tr > th,
table > tbody > tr > td{
  text-align: center;
}

.table{
  margin-bottom: 10px;
}
.table > thead > tr > th {
  border-bottom: 1px solid $mg-white;
}

.tableOverflow{
  border: solid 1px $mg-dark;
  overflow-x: auto;
  margin-top: 15px;
  padding: 0 10px;
}

//------------TABLE--------*
//------------VIEW TEAM--------*

.viewteam_rowItem{
  margin-top: 20px;
  font-size: 17px;
}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  border-top: 1px solid $mg-mid;
}

.table > thead > tr > th {
  border-bottom: 1px solid $mg-mid;
}

//------------VIEW TEAM--------*
//------------MISC--------*
h2 > small, .h2 > small,
h3 > small, .h3 > small{
  margin-left: 10px;
}

.glyphicon{
  top: 2px;
  margin-right: 3px;
}


.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: $input-bg;
  color: $mg-mid;
}

.input-group-addon {
  background-color: $mg-mid;
}
.text-primary:hover,{
  color: $brand-primary;
}
.text-danger:hover,{
  color: $brand-danger;
}

.playerImage{
  margin-top: 5px;
  width: 20px;
}

.btn.logout{
  background-color: $mg-mid;
  color: $mg-white;
  box-shadow: 0 2px 2px -2px #0B0B0C
}

.list-inline > li > .btn {
  margin-top: 5px;
}


.btn.logout:hover{
  background-color: $brand-danger;
}

.positive{
  background-color: $brand-success;
}

.negative{
  background-color: $brand-danger;
}
//------------MISC--------*

//------------WELL--------*

.well{
  border-radius: 0 0 10px 10px;
  border-color: $mg-white;
  padding: 0 20px 20px 20px;
}

legend{
  padding-top: 15px;
}

//------------WELL--------*
//------------Leaderboard--------*

.tournament{
  color: $mg-white;
  font-family: Lora, serif;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 24px;
  border: solid 1px #fefff7;
  box-shadow: inset white 0 0 5px 2px;

  h1 {
    font-family: Lora, serif;
    margin-top: 0;
  }
  h2, .h4 {
    font-family: Lora, serif;
  }
}

//------------Leaderboard--------*
//------------LEAGUE--------*

.league_chatbox{
  height: 350px;
  background: rgba(30,32,34,.9);
  border-bottom: solid 1px $mg-mid;
  border-right: solid 1px $mg-mid;
  border-left: solid 1px $mg-mid;
  padding: 0 15px 0 15px;
  overflow-y: auto;
}

.league_chatbox_item{
  border-bottom: dashed 1px $mg-mid;
  padding: 10px 0;

}

.league_chatbox_item_title{
  margin-right: 7px;
}

//chatbox 'send' button
.input-group-btn:last-child > .btn {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-color: $mg-mid;
}

.league_leaderbox{
  height: 384px;
  background-color: rgba(30,32,34,.9);
  border: solid 1px $mg-mid;
  overflow-y: auto;
}

.league_leaderbox_item{
  color: $mg-white;
  text-shadow: 1px 1px 1px $mg-darkest;
  border: 1px solid $mg-mid;
  padding: 10px 15px;
  margin: 2px 2px 0 2px;
  background-color: $mg-dark;
}

.league_leaderbox_item.active{
  border-color: $brand-primary;
  box-shadow: inset 0 0 5px $brand-primary;
}

.league_leaderbox > a{
  text-decoration: none;
}

.league_leaderbox_item:hover{
  background-color: $mg-mid;
  border-color: $mg-mid;
}

//------------LEAGUE--------*
//------------LEADERBOARD--------*

.leaderboard{
//  background-color: rgba(30,32,34,.9);
}

//------------LEADERBOARD--------*
//------------ADMIN--------*

.admin_buttonbox{
  margin-bottom: 20px;
  border: solid 1px $mg-mid;
  padding: 0 15px 15px 15px;
}

.alert{
  margin-bottom: 0;
  margin-top: 20px;
}

//------------ADMIN--------*

/*____Loading Spinner*/
//
//.loadingtext{
//
//  width: 400px;
//  position: absolute;
//  top: 40%;
//  margin-top: -100px;
//  left: 50%;
//  margin-left: -200px;
//  text-align: center;
//  font-family: monospace;
//  font-size: 19px;
//  padding: 10px;
//
//  background: rgba(31, 56, 63, 0.85);
//  color: #00B4CC;
//
//}

.loadingPanel{
  z-index: 1000;
  position: absolute;
  height: 90%;
  width: 90%;
}
.wrapperloading {
  position: absolute;
  height: 200px;
  width:  200px;
  top: 50%;
  margin-top: -100px;
  left: 50%;
  margin-left: -100px;

  background: transparent;
  border-radius: 0;
}
.wrapperloading .loading_up {
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 150px;

  border: 4px solid $mg-white;
  border-top-color: $mg-white;
  border-bottom-color: $mg-white;
  border-left-color: $brand-primary;
  border-right-color: $brand-primary;

  background: transparent;
  -webkit-animation: rotation 3s linear infinite;
  -moz-animation: rotation 3s linear infinite;
  -o-animation: rotation 3s linear infinite;
  animation: rotation 3s linear infinite;
}
.wrapperloading .loading_down {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 50%;
  margin-top: -50px;
  left: 50%;
  margin-left: -50px;
  border-radius: 150px;

  border: 4px solid $mg-white;
  border-right-color: $mg-white;
  border-left-color: $mg-white;
  border-top-color: $brand-primary;
  border-bottom-color: $brand-primary;

  -webkit-animation: rotation 1s linear infinite;
  -moz-animation: rotation 1s linear infinite;
  -o-animation: rotation 1s linear infinite;
  animation: rotation 1s linear infinite;
}
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*____Loading Spinner*/



.viewAnimate.ng-enter {
  transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000); /* easeOutQuint */
  opacity: 0;
}

.viewAnimate.ng-enter-active {
  opacity: 1;
}
