div(data-ng-controller="LeagueCtrl")
    h3.text-primary League Settings
    div.well

        //My Leagues
        h4.text-primary My leagues
        p.alert(data-ng-show='!team.leagues.length') You're not in any leagues - join a league!

        table.table.table-responsive()
            thead.text-muted
                th Name
                th Location
                th Teams
                th.text-center Join!
            tbody
                tr(data-ng-repeat="league in leagues| filter: {active: true}")
                    td
                        h5 {{league.leagueName}}
                    td
                        h5 {{league.location}}
                    td
                    td.text-center
                        button.btn.btn-danger.btn-sm.h5(data-ng-click="leaveLeague(league._id)") leave

        h4.text-primary All leagues

        //search
        div.input-group
            label.input-group-addon.text-primary Search
            input.form-control(type="text", data-ng-model="leagueFilter")

        //all leagues table
        div.leagueList
            table.table.table-responsive
                thead.text-muted
                    th Name
                    th Location
                    th Teams
                    th.text-center Join!
                tbody
                    tr(data-ng-repeat="league in leagues | filter: {active: false}")
                        td
                            h5 {{league.leagueName}}
                        td
                            h5 {{league.location}}
                        td
                        td.text-center
                            button.btn.btn-success.btn-sm.h5(data-ng-click="joinLeague(league._id)") join

        //create a league
        h4.text-primary Create a new league
        form.form-horizontal(role='form', name='LeagueForm', data-ng-submit='createLeague()')
            .form-group
                .col-sm-6
                    label.control-label(for='1') League Name
                    input.form-control(type='text', name='leagueName', required='required', data-ng-model='league.leagueName')

                .col-sm-6
                    label.control-label(for='1') Location
                    input.form-control(type='text', name='leagueLocation', required='required', data-ng-model='league.leagueLocation')

            button.btn.btn-success.pull-right(type='submit', data-ng-show='LeagueForm.$dirty') Create

            .clearfix




