div(ng-include='\'partials/navbar\'')


.row

    .col-sm-6

        h3.text-primary My leagues
        .well
            div(data-ng-show='!team.leagues.length')
                p No leagues yet - join a league!

            div(data-ng-repeat='league in team.leagues')
                span.glyphicon.glyphicon-remove.pull-right(data-ng-click="")
                h5 {{league.leagueName}}

    .col-sm-6

        h3.text-primary Create a new league
        .well
            form(role='form', name='LeagueForm', data-ng-submit='createLeague()')
                .form-group
                    label.control-label(for='1') League Name
                    input#1.form-control(type='text', name='1_Text', required='required', data-ng-model='league.leagueName')

                //.form-group
                    label
                        input(type="checkbox", data-ng-model="league.private", data-ng-true-value="true", data-ng-false-value="false")
                        |  Private league

                //.form-group
                    label.control-label(for='2') League Password
                    input#2.form-control(type='text', name='2_Text', data-ng-model='league.password')

                button.btn.btn-success.pull-right(type='submit', data-ng-show='LeagueForm.$dirty') Create league

                .clearfix



.row
    .col-sm-12

        h3.text-primary Join a league
        .well

            //search
            div.form-horizontal
                .form-group
                    label.control-label.col-sm-2 Search
                    div.col-sm-10
                        input.form-control(type='text', data-ng-model='searchFilter')

            //list
            div.row

                div.col-sm-2
                   label.pull-right Click to join:

                div.col-sm-10
                    ul.list-inline
                        li.mg-buttongroup(data-ng-repeat='league in leagues | filter: searchFilter')
                            a.btn.btn-primary(href="", data-ng-click='joinLeague($index)')
                                | {{league.leagueName}}



