div(data-ng-controller="LeagueCtrl")

    div.well
        table.table.table-responsive()

            legend my leagues

            thead.text-muted
                th Name
                th Location
                th.text-center Leave
                th.text-center View
            tbody
                tr(data-ng-repeat="league in leagues| filter: {active: true}")
                    td
                        h5 {{league.leagueName}}
                    td
                        h5 {{league.location}}
                    td.text-center
                        button.btn.btn-danger.btn-sm.h5(data-ng-click="leaveLeague(league._id)") leave
                    td.text-center
                            a.btn.btn-primary.btn-sm(ng-href="{{'/league/' + league._id}}") view >

        table.table.table-responsive

            legend join leagues

            //search
            //div.input-group
                label.input-group-addon.text-primary filter
                input.form-control(type="text", data-ng-model="leagueFilter")

            thead.text-muted
                th Name
                th Location
                th.text-center Join!
            tbody.tableHeight
                tr(data-ng-repeat="league in leagues | filter: {active: false}")
                    td
                        h5 {{league.leagueName}}
                    td
                        h5 {{league.location}}
                    td.text-center
                        button.btn.btn-success.btn-sm.h5(data-ng-click="joinLeague(league._id)") join

    //create a league
    h4.text-primary Create a new league
    div.well

        form.form-horizontal(role='form', name='LeagueForm', data-ng-submit='createLeague()')
            .form-group
                .col-sm-6
                    label.control-label(for='1') League Name
                    input.form-control(type='text', name='leagueName', required='required', data-ng-model='league.leagueName')

                .col-sm-6
                    label.control-label(for='1') Location
                    input.form-control(type='text', name='leagueLocation', required='required', data-ng-model='league.leagueLocation')

            button.btn.btn-success.pull-right(type='submit', data-ng-show='LeagueForm.$dirty') Create

            .clearfix




