div(data-ng-controller="LeagueCtrl")

    h3.text-primary My leagues

    table.table.table-responsive()


        thead.text-muted
            th Name
            th Location
            th.text-center View
        tbody
            tr(data-ng-repeat="league in leagues| filter: {active: true}")
                td
                    h5 {{league.leagueName}}
                td
                    h5 {{league.location}}
                td.text-center
                    a.btn.btn-primary.btn-sm(ng-href="{{'/league/' + league._id}}") view >