div(ng-include='\'partials/navbar\'')


h3.text-primary My leagues
div.well
    p(data-ng-show='!team.leagues.length') No leagues yet - join a league!

    table(data-ng-show='team.leagues.length').table.table-responsive
        thead
            th Name
            th Location
            th Teams
            th.text-center Leave
        tbody
            tr(data-ng-repeat="league in team.leagues")
                td
                    h5 {{league.leagueName}}
                td
                td
                td.text-center
                    button.btn.btn-primary.btn-sm.h5 leave

h3.text-primary All leagues
div.well
    div.input-group
        label.input-group-addon Search
        input.form-control(type="text", data-ng-model="leagueFilter")

    br
    div.leagueList
        table.table.table-responsive
            thead
                th Name
                th Location
                th Teams
                th.text-center Join!
            tbody
                tr(data-ng-repeat="league in leagues | filter:leagueFilter")
                    td
                        h5 {{league.leagueName}}
                    td
                    td
                    td.text-center
                        button.btn.btn-primary.btn-sm.h5(data-ng-click="joinLeague($index)") join


h3.text-primary Create a new league
.well
    div
        form(role='form', name='LeagueForm', data-ng-submit='createLeague()')
            .form-group.col-sm-6
                label.control-label(for='1') League Name
                input.form-control(type='text', name='leagueName', required='required', data-ng-model='league.leagueName')

            .form-group.col-sm-6
                label.control-label(for='1') Location
                input.form-control(type='text', name='leagueLocation', required='required', data-ng-model='league.leagueLocation')

            button.btn.btn-success.pull-right(type='submit', data-ng-show='LeagueForm.$dirty') Create

            .clearfix




