div(ng-include='\'partials/navbar\'')

.jumbotron
  h1
    | Ballstrikers
    small  &#946;

.row
    .col-sm-6
        .well
            div(ng-include='\'partials/signup\'')

    .col-sm-6
        .well
            div(ng-include='\'partials/login\'')
