div(ng-include='\'partials/navbar\'')

h3.text-primary Team Settings
.well
    form(role='form', name='TeamForm', data-ng-submit='saveTeam(team)')
        .row
            .col-sm-6
                fieldset
                    .form-group
                        label.control-label(for='2') Team Name
                        input#2.form-control(type='text', name='2_Text', required='required', data-ng-model='team.teamName')

            .col-sm-6
                    .form-group
                        label.control-label(for='1') Owner Name
                        input#1.form-control(type='text', name='1_Text', required='required', data-ng-model='team.ownerName')

        .row
            .col-sm-12
                .well(data-ng-repeat="player in team.players")
                    .form-group
                        label.control-label.col-sm-4 select player:
                        div.col-sm-8
                            select.form-control(name="feildDropdown",
                            data-ng-options='fieldPlayer.id as (fieldPlayer.name.first + " " + fieldPlayer.name.last) for fieldPlayer in field',
                            data-ng-model='player.pgaId')
                    .clearfix



        .row
            .col-sm-12

                ul.list-inline.pull-right
                    li
                        h5.text-success(data-ng-show='updated && TeamForm.$pristine') All changes saved &#x2713;
                    li
                        button.btn.btn-success(type='submit', data-ng-show='TeamForm.$dirty') Save Changes


        .clearfix

.row
    .col-sm-6
        .well
            div(ng-include='\'partials/settings\'')


