div(ng-include='\'partials/navbar\'')

h3.text-primary Team Settings
.well
    form.form-horizontal(role='form', name='TeamForm', data-ng-submit='saveTeam(team)')

        .form-group
            .col-sm-6
                label.control-label(for='teamName') Team Name
                input.form-control(type='text', name='teamName', required='required', data-ng-model='team.teamName')

            .col-sm-6
                label.control-label(for='ownerName') Owner Name
                input.form-control(type='text', name='ownerName', required='required', data-ng-model='team.ownerName')

        //players
        .form-group
            .col-sm-6(data-ng-repeat="player in team.players")
                label(for="fieldDropdown").control-label {{'Golfer ' + ($index + 1)}}
                select.form-control(name="fieldDropdown",
                data-ng-options='fieldPlayer._id as (fieldPlayer.name.first + " " + fieldPlayer.name.last) for fieldPlayer in field',
                data-ng-model='player._id')

        //buttons
        div.pull-right
            button.btn.btn-success(type='submit', data-ng-show='TeamForm.$dirty') Save Changes
            h5.text-success(data-ng-show='updated && TeamForm.$pristine') All changes saved &#x2713;


        .clearfix




div(ng-include='\'partials/league\'')

div(ng-include='\'partials/settings\'')
