div(ng-include='\'partials/navbar\'')

.well
    form(role='form', name='TeamForm', data-ng-submit='saveTeam(team)')
        .row
            .col-sm-7
                fieldset
                    legend Select Players
                    .form-group
                        label.control-label(for='3') Player 1
                        select#3.form-control(name='3_Dropdown_List', required='required',
                        data-ng-options='player.id as player.ln for player in tournament.players', data-ng-model='team.player1')
                    .form-group
                        label.control-label(for='4') Player 2
                        select#4.form-control(name='4_Dropdown_List', required='required',
                        data-ng-options='player.id as player.ln for player in tournament.players', data-ng-model='team.player2')
                    .form-group
                        label.control-label(for='5') Player 3
                        select#5.form-control(name='5_Dropdown_List', required='required',
                        data-ng-options='player.id as player.ln for player in tournament.players', data-ng-model='team.player3')
                    .form-group
                        label.control-label(for='6') Player 4
                        select#6.form-control(name='6_Dropdown_List', required='required',
                        data-ng-options='player.id as player.ln for player in tournament.players', data-ng-model='team.player4')

            .col-sm-5
                fieldset
                    legend Team Settings
                    .form-group
                        label.control-label(for='1') Owner Name
                        input#1.form-control(type='text', name='1_Text', required='required', data-ng-model='team.ownerName')
                    .form-group
                        label.control-label(for='2') Team Name
                        input#2.form-control(type='text', name='2_Text', required='required', data-ng-model='team.teamName')


        ul.list-inline.pull-right
            li
                h5.text-success(data-ng-show='updated && TeamForm.$pristine') All changes saved &#x2713;
            li
                button.btn.btn-success(type='submit', data-ng-show='TeamForm.$dirty') Save Changes


        .clearfix

.row
    .col-sm-6
        .well
            div(ng-include='\'partials/settings\'')


