div(ng-include='\'partials/navbar\'')

.row
    .col-sm-12
        h3.text-primary {{event.name}}
            small(data-ng-repeat='course in courses') {{course.name}}

    .col-sm-12

        .well(data-ng-show='!team.players.length')
            a.btn.btn-primary(href="/team") Setup your team >

        div(data-ng-show='team.players.length')

            h3 {{team.teamName}}
                small {{team.ownerName}}

            table.table.table-responsive
                thead
                    th.hidden-xs
                    th
                    th.hidden-xs rnd 1
                    th.hidden-xs rnd 2
                    th.hidden-xs rnd 3
                    th.hidden-xs rnd 4
                    th.text-center points

                tbody
                    tr(data-ng-repeat="player in team.players")

                        td.hidden-xs
                            div.playerList
                                a(ng-href="{{'/player/' + player.pgaId}}") {{translate(player.pgaId)}}
                                    img.playerImage(ng-src="http://res.cloudinary.com/pga-tour/image/upload/t_headshots_player_s/headshots_{{player.pgaId}}.png")
                        td
                            h4 {{player.name.first + ' ' + player.name.last}}

                            p
                                a(ng-href="{{'/player/' + player.pgaId}}") scorecard



                        td.hidden-xs
                            h5 -1
                        td.hidden-xs
                            h5 -7
                        td.hidden-xs
                            h5 -1
                        td.hidden-xs
                            h5 -7
                        td.text-center
                            h5 43


    .col-sm-12
        h3.text-primary My Leagues
        .well
            div(data-ng-show='!currentUser.leagues.length')
                p No leagues yet - join a league!

            div(data-ng-repeat='league in currentUser.leagues')
                p {{league.leagueName}}






