div(ng-include='\'partials/navbar\'')

.row
    .col-sm-12
        h3.text-primary The BMW International
        .well
            p Buena Vista, FL

    .col-sm-6
        h3.text-primary My Team
        .well



    .col-sm-6
        h3.text-primary My Leagues
        .well



