div(ng-include='\'partials/navbar\'')

.row
    .col-sm-12
        h3.text-primary The BMW International
        .well
            p Buena Vista, FL

    .col-sm-6
        h3.text-primary {{team.teamName}}
            small  {{team.ownerName}}
        .well

            //team not setup
            div.text-center(data-ng-if="!currentUser.teamId")
                a.btn.btn-primary(href="/team") Setup your team >


            ul.list-unstyled
                li {{team.player1}}
                li {{team.player2}}
                li {{team.player3}}
                li {{team.player4}}




    .col-sm-6
        h3.text-primary My Leagues
        .well
            div(data-ng-show='!currentUser.leagues.length')
                p No leagues yet - join a league!

            div(data-ng-repeat='league in currentUser.leagues')
                span.glyphicon.glyphicon-remove.pull-right(data-ng-click="")
                p {{league.leagueName}}






