div(ng-include='\'partials/navbar\'')

.row
    .col-sm-12
        h3.text-primary {{event.name}}
            small(data-ng-repeat='course in courses') {{course.name}}

    .col-sm-12

        .well(data-ng-show='!team.players.length')
            a.btn.btn-primary(href="/team") Setup your team >

        div(data-ng-show='team.players.length')

            h3 {{team.teamName}}
                small {{team.ownerName}}

            table.table.table-responsive
                thead
                    th.hidden-xs
                    th
                    th.hidden-xs(data-ng-repeat="round in rounds")
                        | {{'rnd ' + round.number}}
                    th.text-center points

                tbody
                    tr(data-ng-repeat="player in team.players")

                        td.hidden-xs
                            div.playerList
                                a(ng-href="{{'/player/' + player.pgaId}}") {{translate(player.pgaId)}}
                                    img.playerImage(ng-src="http://res.cloudinary.com/pga-tour/image/upload/t_headshots_player_s/headshots_{{player.pgaId}}.png")
                        td
                            h4 {{player.name.first + ' ' + player.name.last}}

                            ul.list-inline
                                li
                                    a(ng-href="{{'/player/' + player.pgaId}}") scorecard



                        td.hidden-xs(data-ng-repeat="round in player.rounds")
                            h5 {{round.modstable}}
                        td
                            h5.text-center {{player.modstable}}

                    tr
                        td.hidden-xs
                        td
                        td.hidden-xs(data-ng-repeat="round in rounds")
                        td.text-center {{team.score}}


    .col-sm-12
        h3.text-primary My leagues
        div.well
            p(data-ng-show='!team.leagues.length') No leagues yet - join a league!

            table(data-ng-show='team.leagues.length').table.table-responsive
                thead
                    th Name
                    th Location
                    th Teams
                    th.text-center View
                tbody
                    tr(data-ng-repeat="league in team.leagues")
                        td
                            h5 {{league.leagueName}}
                        td
                            h5 {{league.location}}
                        td
                        td.text-center
                            button.btn.btn-primary.btn-sm.h5 view >








