div(ng-include='\'partials/navbar\'')

.row
    .col-sm-12
        h3.text-primary {{event.name}}
            small(data-ng-repeat='course in courses') {{course.n}}

.row
    .col-sm-12
        h3.text-primary My Team
        div(ng-include='\'partials/team\'')
.row
    .col-sm-12
        h3.text-primary My leagues
        div(ng-include='\'partials/league\'')











