div(ng-include='\'partials/navbar\'')

.row
    .col-sm-12
        h3.text-primary {{event.name}}
        ul.list-inline
            li(data-ng-repeat='course in courses')
                p.text-primary {{course.name}}


    .col-sm-12


    .col-sm-6
        //team not setup
        div(data-ng-if="!currentUser.teamId")
            h3.text-primary My Team
            a.btn.btn-primary(href="/team") Setup your team >

        div(data-ng-if="currentUser.teamId")
            h3.text-primary(data-ng-bind='team.teamName')
                small {{team.ownerName}}

            .well
                ul.list-unstyled
                    li(data-ng-repeat="player in team.players")
                        h5 {{player.fn + ' ' + player.ln}}

    .col-sm-6
        h3.text-primary My Leagues
        .well
            div(data-ng-show='!currentUser.leagues.length')
                p No leagues yet - join a league!

            div(data-ng-repeat='league in currentUser.leagues')
                p {{league.leagueName}}






