div(ng-controller="LeaderboardCtrl")

    h3.text-primary {{info.name}}
        small {{info.date}}

    table.table
        thead.text-muted
            th name
            th(ng-repeat="item in courses[0].h") {{$index + 1}}
            th tot
        tbody
            tr(data-ng-repeat='player in players | limitTo:49')
                td.text-muted
                    a(ng-href="/player/{{player.id}}") {{player.ln +', ' + player.fn}}
                th(ng-repeat="hole in player.h.h") {{hole.sc}}
                td {{player.tp}}



