div(ng-controller="LeaderboardCtrl")

    h3.text-primary Leaderboard

    span.h3  {{info.name}}
        small.text-muted {{course.n}}

    table.table
        thead.text-muted
            th name
            th tot
        tbody
            tr(data-ng-repeat='player in leaderboard.players | limitTo:3')
                td.text-muted
                    a(ng-href="/player/{{player.id}}") {{player.ln +', ' + player.fn}}
                td {{player.tp}}



