
div(data-ng-controller="TeamCtrl")


    h3 {{team.teamName}}
        small  {{team.ownerName}}

    table.table.table-condensed

        thead
            th
            th
            th.hidden-xs(data-ng-repeat="round in rounds")
                | {{'rnd ' + round.number}}
            th.text-center total
        tbody
            tr(data-ng-repeat="player in team.players")
                td.hidden-xs
                    div.playerList
                        a(ng-href="{{'/player/' + player.id}}")
                            img.playerImage(ng-src="https://res.cloudinary.com/pga-tour/image/upload/t_headshots_player_s/headshots_{{player.id}}.png")
                td
                    h4 {{player.name.first + ' ' + player.name.last}}
                    ul.list-inline
                        li
                            a(ng-href="{{'/player/' + player.id}}")
                                span.glyphicon.glyphicon-list
                                |  scorecard
                td.hidden-xs(data-ng-repeat="round in player.rounds")
                    h5 {{round.modstable}}
                td
                    h5.text-center {{player.modstable}}
        tfoot
            tr
                td.hidden-xs
                td.hidden-xs(data-ng-repeat="round in rounds")
                td
                    h4 total:
                td.text-center
                    h4 {{team.modstable}}