.well(data-ng-controller="editTeamCtrl")

    form(role='form', name='TeamForm')
        legend set up your team for the
            span.text-primary  {{tournament.name}}

        fieldset
            .form-group
                label.control-label(for='teamName') Team Name
                    small.text-muted  (required)
                input.form-control(type='text', name='teamName', required='required', data-ng-model='team.teamName')

            .form-group
                label.control-label(for='ownerName') Owner Name
                    small.text-muted  (required)
                input.form-control(type='text', name='ownerName', required='required', data-ng-model='team.ownerName')


        h5.text-center.text-danger(ng-show="tournament.ballstrikersStatus == 'Locked'")
            span.glyphicon.glyphicon-warning-sign
            |  Players cannot be changed while a tournament is in progress

        fieldset(ng-disabled="tournament.ballstrikersStatus == 'Locked'")
            .form-group
                label.control-label(for='ownerName') Player 1
                    small.text-muted  (required)
                select.form-control(required, ng-model="team.player1._id", ng-options="p._id as (p.name.last + ', '+ p.name.first) for p in field | orderBy:'name.last'")

            .form-group
                label.control-label(for='ownerName') Player 2
                    small.text-muted  (required)
                select.form-control(required, ng-model="team.player2._id", ng-options="p._id as (p.name.last + ', '+ p.name.first) for p in field | orderBy:'name.last'")

            .form-group
                label.control-label(for='ownerName') Player 3
                    small.text-muted  (required)
                select(class="form-control", ng-model="team.player3._id", ng-options="p._id as (p.name.last + ', '+ p.name.first) for p in field | orderBy:'name.last'")

            .form-group
                label.control-label(for='ownerName') Player 4
                    small.text-muted  (required)
                select.form-control(required, ng-model="team.player4._id", ng-options="p._id as (p.name.last + ', '+ p.name.first) for p in field | orderBy:'name.last'")


        //buttons
        ul.list-inline.text-center
            li
                button.btn.btn-success(type="submit", ng-click="saveTeam(team)", ng-disabled="TeamForm.$invalid || TeamForm.$pristine" )
                    span.glyphicon.glyphicon-ok
                    |  Save
            li
                button.btn.btn-primary(data-ng-click="cancel()", ng-disabled="TeamForm.$pristine")
                    span.glyphicon.glyphicon-repeat
                    |  Undo
            h5.text-success(data-ng-show='updated && TeamForm.$pristine') All changes saved &#x2713;


        //error
        alert(type="danger", ng-show="teamError") {{teamError}}


div(ng-include='\'components/league/editLeagues\'')